/**
 * This file should contain frontend styles that
 * will be applied to all module instances.
 */
 .fl-simple-post-normal .fl-sp-meta {
 	margin-bottom:10px;
 }

 .fl-sp-thumbnail img {
 	max-width: 100%;
 	height:auto;
 }

.fl-sp-col-2 {
	width:50%;
}

.fl-sp-col-3 {
	width:33.33333333%;
}
.fl-sp-col-4 {
	width:25%;
}

.fl-simple-post-grid .fl-sp-thumbnail {
	margin-bottom:20px;
}

